<html>
<head>
	<style type="text/css">
   body{
    background-color: #F9F5F4;
    margin:0px;
    padding: 0px;
   } 
   #imgProp {
    background-color: #f7f7f7;
    width: 510px
    border: 25px #f7f7f7;
    margin: 0px;
    padding-left:5px;
    padding-right: 5px;
    display: block;
    direction: ltr;
    line-height: 1.34;
}
  </style>
</head>
<body style="background-color: #F9F5F4">
 <div id="imgProp" class="cols-sm-3" style=" margin-right: 29%; margin-left: 30%;">
              <br/>
            <br/>
             <div ng-repeat="pics in pics" style="align-content: center; border-bottom: 6px">
               <p class="text-information" style="font-size:18px">{{pics.description}}</p>
                <p class="text-muted">{{pics.date}}</p>
               {{user.username}}
               <img ng-src={{pics.url}} style="height: 500px; width: 500px; padding-bottom: 10px"/>
               <br/>
               <button type="button" class="btn btn-default" ng-model="like" ng-click="like=like+1">
               <span class="glyphicon glyphicon-heart"></span> Likes{{like}}</button>
  			       <button type="button" class="btn btn-default">
                <span class="glyphicon glyphicon-comment"></span>  
    			     Comment 
    			     </button>
               <br/>
               <br/>
               <br/>
               <br/>
          </div>
          <br/>
          <br/>
</div>	
</body>

</html>