<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//public/stylesheet/css/bootstrap-3.3.7-dist/css/bootstrap.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    
    <style>
    	.container-fluid
    	{
    		padding: 0;
    		margin:0;
    	}
    </style>
</head>
<body>

    <nav class="nav navbar-inverse">
    	<div class="container-fluid">
    		<div class="nav-header">
    			<button class="navbar-toggle" data-toggle="collapse" data-target="#top-navbar">
    				<span class="icon-bar"></span>
    				<span class="icon-bar"></span>
    				<span class="icon-bar"></span>
    			</button>
    			<a class="navbar-brand" href="#" >Travel Diaries</a>
    		</div>
   			<div class="collapse navbar-collapse" id="top-navbar">
   			<ul style="color:white; float: right;" class="nav navbar-nav">
    			<li><a href="/login">Login   </a> </li>
    			<li><a href="/register">Sign Up </a>  </li>

    		</ul>
    		</div>
   		</div>
   	</nav>
   	<div class="carousel slide carousel-fade" data-ride="carousel">
   		<div class="carousel-inner" role="listbox">
   			<div class="carousel-item active">
   				<img src="images/image3-gudani.jpg" alt="islamabad" width="100%" height="598px">	
   				<div class="carousel-caption">
				<h1 class="h1">Quetta</h1>
   				<input style="background-color:transparent; color:white" type="button" class="btn btn-default" value="Sign Up"></button>
   				</div>
   			</div>
   			<div class="carousel-item center">
				
   				<div class="carousel-caption">
   					
   				</div>
   			</div>

   		</div>

   	</div>	
</body>
</html>
