<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//public/stylesheet/css/bootstrap-3.3.7-dist/css/bootstrap.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <style>
    	.container-fluid
    	{
    		padding: 0;
    		margin:0;
    	}
    </style>
</head>
<body>
	<div class="container-fluid" style="text-align:center">
		<h1>Travel Diaries</h1>
		<p class="lead">Login and Start your Journey.</p><br/>
		<form role="form" action="/login" method="post" style="text-align:center;">
			<div class="form-group col-sm-4 col-sm-offset-4">
				<input type="text" name="username" placeholder="Enter Username" required="required" class="form-control"/>
			</div>
			<div class="form-group col-sm-4 col-sm-offset-4">
				<input type="password" name="password" placeholder="Password" required="required" class="form-control"/>
			</div>
			<div class="form-group col-sm-4 col-sm-offset-4">
			<button type="submit" style="margin-right:10px" class="col-md-5 btn btn-default">Submit</button>&nbsp;<a href="/">
			<button type="button"  class="col-md-5 btn btn-primary">Cancel</button></a>
			</div>
		</form>
</div>
</body>
</html>
