<html ng-app='app'>
	<head>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<!-- Optional theme -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
		<!-- Latest compiled and minified JavaScript -->
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>	
	</head>
	<body>
	<nav class="nav navbar-inverse">
    	<div class="container-fluid">
    		<div class="nav-header">
    			<button class="navbar-toggle" data-toggle="collapse" data-target="#top-navbar">
    				<span class="icon-bar"></span>
    				<span class="icon-bar"></span>
    				<span class="icon-bar"></span>
    			</button>
    			<a class="navbar-brand" href="#" >Travel Diaries</a>
    		</div>
   			<div class="collapse navbar-collapse" id="top-navbar">
   			<ul style="color:white; float: right;" class="nav navbar-nav">
    			<li ui-sref='view' style="margin: 10px;">NewsFeed</li>

				<li style="margin: 10px" ui-sref='share'>Update</li>

				<li style="margin: 10px" ui-sref='index'>Login</li>

    		</ul>
    		</div>
   		</div>
   	</nav>
	<ul>
		
	</ul>
	<div ui-view style="background-color: #F9F5F4"> 
	</div>
	</body>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.32/angular.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.4.2/angular-ui-router.min.js"></script>
	<script src="../app/lib/ng-file-upload.js"></script>
	<script src="../app/app.js"></script>
	<script src="../app/view/view-controller.js"></script>
	<script src="../app/share/share-controller.js"></script>
</html>